@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html {
    font-size: 16px;
}


*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.index-main {
    background-image: url("../img/fon.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

.header {
    padding-top: 1.0rem;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 73.75rem;
}

ul {
    list-style-type: none;
    color: rgba(253, 253, 253, 1);
    font-size: 1.125rem;
}

a {
    text-decoration: none;
}

.nav-list {
    display: flex;
    gap: 2rem;
}

.consult-button {
    width: 9.8125rem;
    height: 2.75rem;
    background: rgba(26, 62, 62, 1);
    color: rgba(253, 253, 253, 1);
    font-size: 1.0rem;
    border-radius: 0.25rem;
}

h1 {
    margin-top: 28.9375rem;
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 150%;
    color: rgba(253, 253, 253, 1);
}

.reservation-section {
    margin-top: 3.75rem;
    display: grid;
    height: 10.0625rem;
    background-color: rgba(255, 255, 255, 0.2);
    grid-template-columns: 1fr 1fr 1fr 0.8fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    border-radius: 0.625rem;

}

.reservation-section span {
    font-size: 0.875rem;
    grid-row: 3/4;
    font-weight: 400;
    line-height: 150%;
    margin: 0.75rem 0.75rem 0 1.75rem;
    color: rgba(253, 253, 253, 1);
}

.reservation_btn {
    grid-row: 2/3;
    margin: 1.0rem 1.0rem 0 1.0rem;
    height: 3.25rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    border: 0.0625rem solid rgba(253, 253, 253, 1);
    color: rgba(253, 253, 253, 1);
    font-size: 1.0rem;
    font-weight: 700;
    line-height: 150%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-btn {
    background-color: rgba(253, 253, 253, 1);
    border-radius: 0.25rem;
    border: none;
    color: #1A3E3E;
}

.index-section {
    padding-bottom: 2.5rem;
}

.expedition-details {
    margin-bottom: 6.25rem;
}

.expedition-details .container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    margin-top: 5.0rem;
    padding-bottom: 5.0rem;
}

.hike-photos {
    position: relative;
}

.hike-photos1__img {
    z-index: -5;
}

.hike-photos2__img {
    position: absolute;
    z-index: 1;
    top: 7.875rem;
    left: 8.125rem;
}

.about-hike {
    padding-top: 3.75rem;
}

.about-hike span {
    color: #F2BE22;
    font-size: 1.5rem;
    font-weight: 400;

    line-height: 20%;
}

.about-hike h2 {
    color: #18121E;
    padding-top: 0.625rem;
    font-size: 2.0rem;
    font-weight: 800;
    line-height: 120%;
}

.about-hike p {
    color: #18121E;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%;
    padding-top: 2.5rem;
}

.program-button {
    margin-top: 3.125rem;
}

.section-solutions {
    background-color: #F3F5F4;
    padding-top: 5.0rem;
    padding-bottom: 5.0rem;
}

.section-solutions .container {
    display: flex;
    justify-content: space-between;
}


.offer__text span {
    color: #F2BE22;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 20%;
}

.offer__text h3 {
    color: #18121E;
    padding-top: 0.625rem;
    font-size: 2.0rem;
    font-weight: 800;
    line-height: 120%;
}

.benefits__item h3 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: #18121E;

}

.offer__text p {
    color: #18121E;
    font-size: 1.125rem;
    margin-top: 1.25rem;
    font-weight: 400;
    line-height: 150%;

}

.benefits__item {
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.benefits__item p {
    margin-top: 0;
    font-size: 0.875rem;
}

.offer__image {
    width: 32.5rem;
    height: 32.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3125rem;
    padding-top: 2.5rem;
}

.offer__image--img {
    width: 15.625rem;
    height: 15.625rem;
}

.program-button {
    width: 14.75rem;
    height: 3.25rem;
}

.popular-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-label {
    color: #F2BE22;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.popular-section {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

.popular-tour-cards {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.25rem;
}

.popular-destinations {
    color: #18121E;
    font-size: 2.0rem;
    font-weight: 800;
    line-height: 120%;
    padding-top: 0.625rem;
}

.popular-tour-card {
    position: relative;
}

.tour-rating {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    gap: 0.625rem;
    top: 3.125rem;
    left: 19.6875rem;
    background-color: #FDFDFD66;
    width: 4.0625rem;
    height: 2.0rem;
    cursor: pointer;
}

.tour-rating p {
    color: #1A3E3E;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
}

.popular-tour-description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 25.625rem;
    width: 23.75rem;
    height: 5.625rem;
    backdrop-filter: blur(0.375rem);
    background-color: #FFFFFF33;
    border-bottom-left-radius: 2.0rem;
    border-bottom-right-radius: 2.0rem;
}

.popular-tour-name span {
    color: #FDFDFD;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 120%;
}

.popular-tour-name p {
    color: #FDFDFD;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.tour-price {
    background-color: #FFFFFF4D;
    width: 5.375rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #FDFDFD;
    padding: 0.5rem 1.0rem 0.5rem 1.0rem;
    border-radius: 0.25rem;
}

.rating-btn {
    width: 15.25rem;
    margin-top: 2.5rem;
}

.article-card {
    background-color: #FDFDFD;
    flex: 1 1 calc(50% - 1.5rem);
    max-width: calc(50% - 1.5rem);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

.article-content {
    height: 17.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.articles-block {
    margin-top: 3.125rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.data-link {
    display: flex;
    justify-content: space-between;
}

.data {
    color: #F2BE22;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
}

.link {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: #18121E;
}


.blog-section {
    background-color: #F3F5F4;
    padding-bottom: 3.125rem;
}

.blog-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.impressions-label {
    color: #F2BE22;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2.5rem;

}

.blog-title {
    color: #18121E;
    font-size: 2.0rem;
    font-weight: 800;
    line-height: 120%;
    padding-top: 0.625rem;
}

.card-tittle {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.0rem;
    color: #18121E;
}

.articles-block .article-card:nth-child(4) .article-content .card-description {
    height: 8.75rem;
    width: 18.375rem;
}


.card-description {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #18121E;
}

.photo-report .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-report {
    padding-bottom: 18.75rem;
}

.photo-report-label {
    color: #F2BE22;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2.5rem;
}

.photo-report-title {
    color: #18121E;
    font-size: 2.0rem;
    font-weight: 800;
    line-height: 120%;
    padding-top: 0.625rem;
}

.photo-gallery {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.pinterest-btn {
    width: 11.125rem;
    margin-top: 2.5rem;
}

.page-footer {
    background-color: #1A3E3E;
}

.footer-contacts {
    width: 30.0rem;
}

.company-name {
    color: #F3F5F4;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.article-paragraph {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FFFFFF;
}

.email-phons {
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.125rem;

}

.email {
    color: #FFFFFF;
    text-decoration: underline;

}

.footer-services-header {
    color: #F3F5F4;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.footer-services-item {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #FDFDFD;
}

.footer-important-title {
    color: #F3F5F4;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.footer-important-item {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #FDFDFD;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 15.625rem;
}

.footer-contacts {
    height: 16.4375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-services {
    height: 14.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-important {
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icons {
    display: flex;
    gap: 1.0rem;
}

.footer-container {
    background-color: #18121E;
    height: 4.125rem;
}

.redactor {
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.125rem;
}

.footer-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.125rem;
}

.political {
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.125rem;
    text-decoration: underline;
}

.subscribe-section-container {
    padding-top: 1.25rem;
    margin: 0 auto;
    width: 73.75rem;
    height: 12.25rem;
    background-color: #FDFDFD;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60.0rem;
    box-shadow: 0 0.25rem 1.25rem rgba(24, 18, 30, 0.12);
}

.subscribe-label {
    grid-column: 1;
    grid-row: 1;
    padding-left: 1.25rem;
}

.subscribe-title {
    grid-column: 1;
    grid-row: 2;
    padding-left: 1.25rem;
}

.subscribe-form {
    grid-column: 2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.0rem;
}

.e-title {
    grid-column: 1;
    grid-row: 1;
    padding-top: 1.25rem;
}

.subscribe-email {
    grid-column: 1;
    grid-row: 2;
    width: 17.5rem;
    padding: 0.75rem;
}

.subscribe-button {
    grid-column: 2;
    grid-row: 2;
    width: 15.0rem;
    height: 2.75rem;
}

.subscribe-form p {
    grid-column: 1/3;
    grid-row: 3;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.125rem;
    text-decoration: underline;
}

.subscribe-label {
    color: #F2BE22;
    font-size: 1.5rem;
    font-weight: 400;

}

.subscribe-title {
    color: #18121E;
    font-size: 1.625rem;
    font-weight: 800;
    line-height: 120%;
    padding-top: 0.625rem;
}

.parent-block {
    position: relative;
}

.header-mobile {
    display: none;
}

.search-mobile-button {
    display: none;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-shrink: 0 !important;
}

.other {
    margin-top: 20px;
    width: 220px;
    height: 52px;


}


@media (max-width: 375px) {
    .header {
        display: none;
    }

    .logo-img-mobile {
        width: 84px;
        height: 44px;
    }

    .index-main {
        background-image: url("../img-mobile/fon-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-mobile {
        display: block;
        width: 100%;

    }

    .header-mobile .container-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container-mobile {
        margin: 0 auto;
        width: 350px;
    }

    h1 {
        font-size: 28px;
        margin-top: 250px;
    }

    h1 br {
        display: none;
    }

    .reservation-section {
        display: none;
    }

    .search-mobile-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 213px;
        height: 52px;
        background-color: #FDFDFD;
        border-radius: 4px;
        color: #1A3E3E;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        border: none;
        margin-top: 30px;
    }

    .hike-photos2 {
        display: none;
    }

    .hike-photos1 {
        position: relative;
        top: 0;
        left: 0;
    }

    .expedition-details .container {
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .program-button {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 40px;
    }

    .offer__image {
        display: none;
    }

    .expedition-details {
        margin-bottom: 0;
    }

    .benefits__item {
        align-items: normal;
    }

    .benefits__item svg {
        width: 50px;
        height: 50px;
    }

    .benefits__item p {
        font-size: 14px;
    }

    .section-solutions {
        padding-bottom: 0;
        padding-top: 30px;
    }

    .offer__text span {
        font-size: 16px;
    }

    .offer__text h3 {
        font-size: 24px;
    }

    .review-label {
        font-size: 16px;
    }

    .popular-destinations {
        font-size: 24px;
    }

    .popular-section .container {
        align-items: flex-start
    }

    .benefits__item--text h3 {
        font-size: 18px;
    }

    .benefits__item--text p {
        font-size: 14px;
    }

    .about-hike span {
        font-size: 16px;
    }

    .about-hike h2 {
        font-size: 24px;
    }

    .about-hike h2 br {
        display: none;
    }

    .about-hike p {
        font-size: 16px;
    }

    .tour_img {
        width: 285px;
        height: 400px;
    }

    .tour-rating {
        left: 220px;
        top: 36.8px;
    }

    .popular-tour-description {
        top: 335px;
        width: 285px;
        height: 70px;
        font-size: 18px;
    }

    .popular-tour-description p {
        display: none;
    }

    .popular-tour-name span {
        font-size: 18px;
    }

    .popular-tour-name b {
        font-size: 18px;
        width: 43px;
        height: 18px;
    }

    .hike-photos1__img {
        width: 350px;
    }

    .rating-btn {
        margin-left: 50%;
        transform: translateX(-50%);
    }


    .swiper {
        margin-top: 30px;
    }


    .article-image {
        width: 285px;
    }

    .card-tittle {
        font-size: 20px;
    }

    .card-description {
        font-size: 14px;
    }

    .data {
        font-size: 14px;
    }

    .link {
        font-size: 14px;
    }


    .article-image img {
        width: 280px;
        height: auto;
        display: block;
    }

    .articles-block {
        display: flex;
    }


}




